<template>
<v-flex lg12>
    <v-container>
      <v-card>
          <v-flex lg12>
          <v-container align-center justify-space-around row class="elevation-24">
            <v-layout row>
                <v-flex lg5>
                    <h1>Add New Word</h1>
                 </v-flex>
            </v-layout>
            <v-flex lg12>
                <v-container align-center justify-space-around row fill-height>
                    <v-flex lg5><v-text-field label="Word"></v-text-field></v-flex>
                    <v-flex lg5><v-text-field label="Translation"></v-text-field></v-flex>    
            </v-container>
              
            <v-container align-end justify-end row fill-height >
                <v-flex lg4>
                    <v-btn class="elevation-24" color="success" >Save</v-btn>
                    <v-btn class="elevation-24" dark color="red">Cancel</v-btn>
                </v-flex>    
            </v-container>
            
            </v-flex>
          </v-container>
          </v-flex>
      </v-card>
  </v-container>
</v-flex>
</template>

<script>

export default {
  name: 'AddWords',
  computed: {
      words(){
          return this.$store.state.words;
      }
  },
  methods: {
      save(){
          this.$store.methods.test()
      }
  }
}
</script>