<template>
  <v-container>
    <v-layout row v-if="error">
      <v-flex xs12 sm6 offset-sm3>
        <!-- <app-alert @dismissed="onDismissed" :text="error.message"></app-alert> -->
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignin">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field name="login" label="Login" id="login" v-model="login" type="name" required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field name="password" label="Password" id="password" v-model="password" type="password" required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-btn type="submit" :disabled="loading" :loading="loading">
                      Sign in
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                      </span>
                    </v-btn>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-btn @click="isLogged()">Is logged in?</v-btn>
                  <v-btn @click="logout()">Logout</v-btn>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      login: "",
      password: ""
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    error() {
      //return this.$store.getters.error;
      return { message: "Message error" };
    },
    loading() {
      //return this.$store.getters.loading;
      return false;
    }
  },
  watch: {
    user(value) {
        console.log("1.Watching user")
      if (value !== null && value !== undefined) {
        this.$router.push("/");
        this.$router.go("/");
      }
    }
  },
  methods: {
    onSignin() {
        this.$store.dispatch('signUserIn', {
        login: this.login,
        password: this.password
      });
        //TODO: Fix this.
        let userLogin = this.$store.state.user.login
        if (userLogin !== null && userLogin !== undefined) {
            this.$router.push("/");
            this.$router.go("/");
        }

    },
    onDismissed() {
      this.$store.dispatch("clearError");
    },
    isLogged() {
      var logged = this.$store.get;
      return logged
    },
    logout() {
      this.$store.dispatch("logoutUser");
    }
  }
};
</script>