<template>
    <v-container>
        <v-layout row v-if="error">
            <v-flex xs12 sm6 offset-sm3>
                <!-- <app-alert @dismissed="onDismissed" :text="error.message"></app-alert> -->
            </v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-card-text>
                        <v-container>
                            <form>
                                <v-layout row>
                                    <v-flex xs12>
                                        //TODO: Add here question
                                    </v-flex>
                                </v-layout>
                                <v-layout row>
                                    <v-flex xs12>
                                        <v-btn type="submit" :disabled="loading" :loading="loading">
                                            Sign in
                                            <span slot="loader" class="custom-loader">
                                                <v-icon light>cached</v-icon>
                                            </span>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                                <v-layout row>
                                    <v-btn @click="logout">Logout</v-btn>
                                </v-layout>
                            </form>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
    error() {
      //return this.$store.getters.error;
      return { message: "Message error" };
    },
    loading() {
      //return this.$store.getters.loading;
      return false;
    }
  },
  watch: {
    user(value) {
      if (value === null && value === undefined) {
        this.$router.push("/");
        this.$router.go();
      }
    }
  },
  methods: {
    //TODO: Zmienić miejsce wylogowywania do sekcji watch
    logout() {
      this.$store.dispatch("logoutUser");
      this.$router.push("/");
      this.$router.go();
    }
  }
};
</script>