<template>
    <v-flex lg12>
        <v-container>
            <v-card>
                <v-flex lg12>
                    <v-container align-center justify-space-around row class="elevation-24">
                        <v-layout row>
                            <v-flex lg5>
                                <h1>Words list</h1>
                            </v-flex>
                        </v-layout>
                        <v-list>
                            <v-list-tile
                                v-for="word in words"
                                :key="word.word">
                            </v-list-tile>
                        </v-list>    
                    </v-container>
                </v-flex>
            </v-card>
        </v-container>
    </v-flex>
</template>

<script>

export default {
  name: 'WordsList',
  computed: {
      words(){
          return this.store.state.words
      }
  },
  methods: {
      
  }
}
</script>