<template >
  <v-app>
    <v-toolbar dark>
      <v-toolbar-title>Flashcard</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-for="item in menuItems" :key="item.title" :to="item.link">
          {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <main>
      <router-view></router-view>
    </main>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";
import AddWords from "./components/AddWords";
import WordsList from "./components/WordsList";
import Login from "./components/Login";
import Logout from "./components/Logout";


export default {
  name: "App",
  components: {
    HelloWorld,
    AddWords,
    WordsList,
    Login,
    Logout
  },
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: "bubble_chart",
          title: "Inspire"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js"
    };
  },
  computed: {
    menuItems() {
      let menuItems = [
        { title: "Hello", link: "/hello" },
        { title: "Login", link: "/login" }
      ];
      if (localStorage.getItem("access_token") !== null) {
        menuItems = [
          { title: "Hello", link: "/hello" },
          { title: "Add word", link: "/add" },
          {title: "Words", link: "/words"},
          { title: "Logout", link: "/logout" }
        ];
      }
      return menuItems;
    }
  },
  methods: {
    isUserAuthenticated() {
      return localStorage.getItem("access_token") != null;
    }
  }
};
</script>

<style lang="stylus">
@import './stylus/main';
</style>
